<img src="https://s-media-cache-ak0.pinimg.com/originals/74/55/66/745566d00dd890504b0e518372f0120a.png" />
<h3>{{ 'Réservation'|trans }}</h3>

<p>{{ 'Bonjour'|trans }} {{ name }},<br />
{{ 'Vous avez réservé des billets pour le musée du Louvre.'|trans }}
</p>

<h3>{{ 'Informations de la commande'|trans }}</h3>

<p>
	{% set numbers = '0123456789' %}
	{% set chars = 'abcdefghijklmnopqrstuvwxyz' %}
	{% set code = [] %}

	{% for i in 1..10 %} {# Boucle pour générer un code de 10 caractères #}
		{% set randomChars = random(chars|upper ~ numbers) %} {# Random sur les chiffres et les lettres #}
		{% set code = code|merge([randomChars])%} {# On fusionne les deux tableaux #}
	{% endfor %}

	{% set randomCode = code|join %}

	{{ 'N° de commande :'|trans }} {{ randomCode }}

</p>
<p>{{ 'Date de visite :'|trans }}  {{ date|date('d/m/Y') }}</p>
<p> {{ 'Prix total de la réservation :'|trans }} {{ total }} €</p>

<ul>
{% for ticket in tickets %}
	<li>{{ ticket.lastname }} {{ ticket.firstname }}</li>
{% endfor %}
</ul>

