{% extends "AStudioBookingBundle::layout.html.twig" %}

{% block order_body %}
    {% block stylesheets %}
        {{ parent() }}
        <link rel="stylesheet" href="{{ asset('datetimepicker/jquery.datetimepicker.css') }}">
    {% endblock %}
    
    <h2>Informations</h2>
    
      <div class="well">
      {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
        
       
      {# Les erreurs générales du formulaire. #}
        
        {% for error in form.vars.errors.form.getErrors(true) %}
            <div class="alert alert-danger">
                 <li>{{ error.message }}</li>
            </div>
        {% endfor %}
        
        {{ form_row(form.tickets) }}

      <div class="form-group">
        <button type="submit" class="btn btn-success"><i class="fa fa-arrow-right" aria-hidden="true"></i> Continuer</button>
      </div>
      

      {# Génération automatique des champs pas encore écrits.
         Dans cet exemple, ce serait le champ CSRF (géré automatiquement par Symfony !)
         et tous les champs cachés (type « hidden »). #}
      {{ form_rest(form) }}

      {# Fermeture de la balise <form> du formulaire HTML #}
      {{ form_end(form) }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('datetimepicker/build/jquery.datetimepicker.full.min.js') }}"></script>
    <script>
      $(function() {
        $.datetimepicker.setLocale('fr');
        $('[name="astudio_bookingbundle_order[tickets][0][birthdate]"]').datetimepicker({
          timepicker: false,
          format: 'Y-m-d',
          autoclose: true
        });
      });
    </script>
    <script>
      $(document).ready(function() {
    // On récupère la balise <div> en question qui contient l'attribut « data-prototype » qui nous intéresse.
    var $container = $('div#astudio_bookingbundle_order_tickets');
    // On définit un compteur unique pour nommer les champs qu'on va ajouter dynamiquement
    var index = $container.find(':input').length;
   
    var nb = Number('{{ nbTickets }}');
    // On ajoute un nouveau champ à chaque clic sur le lien d'ajout.
    for (var i = 0; i < nb; i++)
    {
        addTicket($container);    
    }
      
            
    // On ajoute un premier champ automatiquement s'il n'en existe pas déjà un 
            
    
    // La fonction qui ajoute un formulaire CategoryType
    function addTicket($container) {
      // Dans le contenu de l'attribut « data-prototype », on remplace :
      // - le texte "__name__label__" qu'il contient par le label du champ
      // - le texte "__name__" qu'il contient par le numéro du champ
      var template = $container.attr('data-prototype')
        .replace(/__name__label__/g, 'Billet n°' + (index+1))
        .replace(/__name__/g,        index)
      ;
      // On crée un objet jquery qui contient ce template
      var $prototype = $(template);
      // On ajoute le prototype modifié à la fin de la balise <div>
      $container.append($prototype);
      $container.append('<hr>');
      // Enfin, on incrémente le compteur pour que le prochain ajout se fasse avec un autre numéro
      index++;
    }
  });
    </script>
{% endblock %}