{% extends "AStudioBookingBundle::layout.html.twig" %}

{% block stylesheets %}
  {{ parent() }}
    {% stylesheets 'datetimepicker/jquery.datetimepicker.css' %}
      <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}
{% endblock %}


{% block order_body %}
  <div class="page-header page-header-small clear-filter" filter-color="orange">
    <div class="page-header-image" data-parallax="true" style="background-image: url('{{ asset('img/louvre-facade.jpeg') }}');">
    </div>
    <div class="container">
      <div class="content-center">
        <div class="text-center">
          <h1 class="title">{{ 'Informations'|trans }}</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="container">
      <div class="well">
        {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
        
        
        {{ form_errors(form) }}
        
        <div class="centered">
          <div class="col-md-6">
            {{ form_row(form.tickets)}}
          </div>
        </div>
        <div class="form-group centered">
          <div class="col-md-6">
            <button type="submit" class="btn btn-primary btn-round btn-lg btn-block"><i class="fa fa-arrow-right" aria-hidden="true"></i> {{ 'Continuer'|trans }}</button>
          </div>
        </div>
        {# Génération automatique des champs pas encore écrits.
        Dans cet exemple, ce serait le champ CSRF (géré automatiquement par Symfony !)
        et tous les champs cachés (type « hidden »). #}
        {{ form_rest(form) }}
        {# Fermeture de la balise <form> du formulaire HTML #}
          {{ form_end(form) }}
        </div>
      </div>
    </div>
  {% endblock %}
  {% block javascripts %}
    {{ parent() }}
    
    {% javascripts 'datetimepicker/build/jquery.datetimepicker.full.min.js'
                   'js/datepicker.js' %}
      <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    
    <script>
    $(document).ready(function() {
    // On récupère la balise <div> en question qui contient l'attribut « data-prototype » qui nous intéresse.
      var $container = $('div#astudio_bookingbundle_order_tickets');
      // On définit un compteur unique pour nommer les champs qu'on va ajouter dynamiquement
      var index = $container.find(':input').length;
      
      var nb = Number('{{ nbTickets }}');
      var errors = '{{ form.vars.errors.form.getErrors(true) }}';
      
      for (var i = 0; i < nb; i++)
      {
      if(errors === '')
      {
      addTicket($container);
      }
      else
      {
      break;
      }
      
      }
      $('[data-toggle="popover"]').popover(); // Bulle d'aide
      
      // La fonction qui ajoute un formulaire de ticket
      function addTicket($container) {
      // Dans le contenu de l'attribut « data-prototype », on remplace :
      // - le texte "__name__label__" qu'il contient par le label du champ
      // - le texte "__name__" qu'il contient par le numéro du champ
      var template = $container.attr('data-prototype')
      .replace(/__name__label__/g, 'Ticket n°' + (index+1))
      .replace(/__name__/g,        index)
      ;
      // On crée un objet jquery qui contient ce template
      var $prototype = $(template);
      // On ajoute le prototype modifié à la fin de la balise <div>
        $container.append($prototype);
        $container.append('<hr>');
        
        // Utilisation du datetimepicker
        $.datetimepicker.setLocale('fr');
        $('.js-datepicker').datetimepicker({
        timepicker: false,
        format: 'Y-m-d',
        autoclose: true
        });
        // Enfin, on incrémente le compteur pour que le prochain ajout se fasse avec un autre numéro
        index++;
        }
        });
        </script>
      {% endblock %}