{% extends "AStudioBookingBundle::layout.html.twig" %}

{% block order_body %}
  <div class="page-header page-header-small clear-filter" filter-color="orange">
    <div class="page-header-image" data-parallax="true" style="background-image: url('{{ asset('img/louvre-facade.jpeg') }}');">
    </div>
    <div class="container">
      <div class="content-center">
        <div class="text-center">
          <h1 class="title">{{ 'Récapitulatif de la commande'|trans }}</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="section">
  <div class="container">

    {% if error|length > 0 %}
      <div class="alert alert-danger">
        {{ error|trans }}
      </div>
    {% endif %}

    <table class="table table-hover table-responsive table-bordered">
      <thead>
        <tr>
          <th class="text-center">{{ 'Nom'|trans }}</th>
          <th class="text-center">{{ 'Prénom'|trans }}</th>
          <th class="text-center">{{ 'Date de naissance'|trans }}</th>
          <th class="text-center">{{ 'Tarif réduit'|trans }}</th>
          <th class="text-center">{{ 'Prix'|trans }}</th>
        </tr>
      </thead>
      <tbody>
        {% for key, ticket in tickets %}
        {% set keyTicket = key %}
        <tr>
          <th scope="row" class="text-center">{{ ticket.lastname }}</th>
          <th class="text-center">{{ ticket.firstname }}</th>
          <th class="date text-center">{{ ticket.birthdate| date('d/m/Y') }}</th>
          <th class="reduced text-center">
            {% if ticket.reducedprice == 1 %}
            <span class="reduced"><i class="fa fa-check" aria-hidden="true"></i></span>
            
            {% endif %}
          </th>

          {% for key, price in prices if (key == keyTicket)%}
            <th class="price text-center"> {{ price }} €</th>
          {% endfor %}
        </tr>
        {% endfor %}

        <tr>
          <th>&nbsp;</th>
          <th>&nbsp;</th>
          <th>&nbsp;</th>
          <td class="text-center"><h4>{{ 'Total'|trans }}</h4></td>
          <td class="total text-center">{{ total }} €</td>
        </tr>
      </tbody>
    </table>
    
    <form action="" method="POST">
  <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="{{ stripe_public_key }}"
    data-label="Commander"
    data-amount="{{ total * 100 }}"
    data-name="Musée du Louvre"
    data-description="Paiement sécurisé"
    data-image="https://s-media-cache-ak0.pinimg.com/originals/74/55/66/745566d00dd890504b0e518372f0120a.png"
    data-locale="auto"
    data-currency="EUR"
    data-zip-code="true">
  </script>
  <script>

    document.getElementsByClassName("stripe-button-el")[0].style.display = 'none';

    </script>
<div class="form-group centered">
  <div class="col-md-6">
<button id="customButton" class="btn btn-primary btn-round btn-lg btn-block">
    <span style="display: block;"><i class="fa fa-credit-card-alt" aria-hidden="true"></i> {{ 'Commander'|trans }}</span>
</button>
</div>
</div>

</form>
</div>
</div>

{% endblock %}



    