{% extends "AStudioBookingBundle::layout.html.twig" %}

{% block order_body %}
  
    <h2>Récapitulatif de la commande</h2>

    {% if error|length > 0 %}
      <div class="alert alert-danger">
        {{ error }}
      </div>
    {% endif %}

    <table class="table table-hover table-responsive table-bordered">
      <thead>
        <tr>
          <th class="text-center">Nom</th>
          <th class="text-center">Prénom</th>
          <th class="text-center">Date de naissance</th>
          <th class="text-center">Tarif réduit</th>
          <th class="text-center">Prix</th>
        </tr>
      </thead>
      <tbody>
        {% for key, ticket in tickets %}
        {% set keyTicket = key %}
        <tr>
          <th scope="row" class="text-center">{{ ticket.lastname }}</th>
          <th class="text-center">{{ ticket.firstname }}</th>
          <th class="date text-center">{{ ticket.birthdate| date('d/m/Y') }}</th>
          <th class="reduced text-center">
            {% if ticket.reducedprice == 1 %}
            <span class="reduced">{{ ticket.reducedprice }}</span>
            
            {% endif %}
          </th>

          {% for key, price in prices if (key == keyTicket)%}
            <th class="price text-center"> {{ price }} €</th>
          {% endfor %}
        </tr>
        {% endfor %}

        <tr>
          <th>&nbsp;</th>
          <th>&nbsp;</th>
          <th>&nbsp;</th>
          <td class="text-center"><h4>Total</h4></td>
          <td class="total text-center">{{ total }} €</td>
        </tr>
      </tbody>
    </table>
    
    <form action="" method="POST">
  <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="{{ stripe_public_key }}"
    data-label="Commander"
    data-amount="{{ total * 100 }}"
    data-name="Musée du Louvre"
    data-description="Paiement sécurisé"
    data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
    data-locale="auto"
    data-currency="EUR"
    data-zip-code="true">
  </script>
</form>

{% endblock %}



    