{% extends "AStudioCoreBundle::layout.html.twig" %}
{% block title %} {{ 'Accueil'|trans }} - {{parent()}} {% endblock %}
{% block body %}
    <div class="page-header">
        <div class="page-header-image" data-parallax="true" style="background-image: url('{{ asset('img/header.jpg') }}');">
        </div>
        <div class="container">
            <div class="content-center brand">
                
                <h1 class="h1-seo">{{ 'Le musée du Louvre'|trans }}</h1>
                <h3>{{ 'Réservez dès maintenant vos billets'|trans }}</h3>
                <a href="{{ path('a_studio_booking_homepage') }}"><button class="btn btn-primary">{{ 'Réserver'|trans }}</button></a>
            </div>
        </div>
        <p></p>
{% endblock %}